.popup__form-container{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .popup__form-container {
    width: 282px;
    min-height: 322px;
    margin-top: 123px;
    padding: 25px 22px;
  }
}
