.popup__form-container{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .popup__form-container {
    max-width: 100%;
    height: 100%;
    margin-top: 75px;
    padding: 0;
  }
}
